<!DOCTYPE html>
<html>
<th:block th:replace="~{fragments/head :: head(title='Gastos')}"></th:block>
<body>
	<header>
		<th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
	</header>
	
	<main class="container">
	
		<div class="row my-5">
			<div class="col-sm-12 col-md-4">
				<a type="button" class="btn btn-dark w-100" th:href="@{/gastos}">Voltar</a>
			</div>
		</div>
		
		<form th:action="@{/gastos/new}" th:object="${gasto}" method="post">
			<div class="mb-3">
				<label for="banco" class="form-label">Banco</label> 
				<select
					class="form-select" 
					th:field="*{banco}"
					th:classappend="${#fields.hasErrors('banco')} ? 'is-invalid'">
					<option th:each="banco : ${bancos}" th:value="${banco}"
						th:text="${banco}"></option>
				</select>
				<div th:if="${#fields.hasErrors('banco')}" th:errors="*{banco}"
					class="invalid-feedback"></div>
			</div>
			<div class="mb-3">
				<label for="dataOcorrencia" class="form-label">Data Ocorrência</label> 
					<input 
					type="date" 
					class="form-control"
					id="dataOcorrencia"
					th:name="dataOcorrencia"
					th:value="*{dataOcorrencia}"
					th:classappend="${#fields.hasErrors('dataOcorrencia')} ? 'is-invalid'">
					<div 
					th:if="${#fields.hasErrors('dataOcorrencia')}" 
					th:errors="*{dataOcorrencia}"
					class="invalid-feedback"></div>
			</div>

			<div class="mb-3">
				<label for="valor" class="form-label">Valor</label> 
				<input
					type="number" class="form-control" step="0.01" th:field="*{valor}"
					th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'"
					>
					<div th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"
					class="invalid-feedback"></div>
			</div>
			<div class="mb-3">
				<label for="recebedorId" class="form-label">Tipo de
					Recebedor</label> 
					<select 
					class="form-select"
					th:field="*{recebedorId}"
					th:classappend="${#fields.hasErrors('recebedorId')} ? 'is-invalid'"
					>
					
					<option th:each="recebedor : ${recebedores}"
						th:value="${recebedor.id}" th:text="${recebedor.nome}"></option>
				</select>
				<div th:if="${#fields.hasErrors('recebedorId')}" th:errors="*{recebedorId}"
					class="invalid-feedback"></div>
			</div>
			<button type="submit" class="btn btn-primary mb-3">Adicionar
				Gasto</button>

		</form>
	</main>
</body>
</html>