<!DOCTYPE html>
<html>
<th:block th:replace="~{fragments/head :: head(title='Gastos')}"></th:block>
<body>
	<header>
		<th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
	</header>
	
	<main class="container">
	
		<div class="row my-5">
			<div class="col-sm-12 col-md-4">
				<a type="button" class="btn btn-dark w-100" th:href="@{/gastos}">Voltar</a>
			</div>
		</div>
		
		<form 
		th:action="${gasto.id}!= null ?   @{/gastos/{id}(id=${gasto.id})}: @{/gastos/new}" 
		th:object="${gasto}" 
		method="post">
		<input type="hidden" name="_method" value="put" th:if="${gasto.id} != null"/>
			<div class="mb-3">
				<label for="banco" class="form-label">Banco</label> 
				<select
					class="form-select" 
					th:field="*{banco}"
					th:classappend="${#fields.hasErrors('banco')} ? 'is-invalid'">
					<option
					 	th:each="banco : ${bancos}" 
					 	th:value="${banco}"
						th:text="${banco}"></option>
				</select>
				<div th:if="${#fields.hasErrors('banco')}" th:errors="*{banco}"
					class="invalid-feedback"></div>
			</div>
			<div class="mb-3">
				<label for="dataOcorrencia" class="form-label">Data Ocorrência</label> 
					<input 
					type="date" 
					class="form-control"
					id="dataOcorrencia"
					th:name="dataOcorrencia"
					th:value="*{dataOcorrencia}"
					th:classappend="${#fields.hasErrors('dataOcorrencia')} ? 'is-invalid'">
					<div 
					th:if="${#fields.hasErrors('dataOcorrencia')}" 
					th:errors="*{dataOcorrencia}"
					class="invalid-feedback"></div>
			</div>

			<div class="mb-3">
				<label for="valor" class="form-label">Valor</label> 
				<input
					type="number" class="form-control" step="0.01" th:field="*{valor}"
					th:classappend="${#fields.hasErrors('valor')} ? 'is-invalid'"
					>
					<div th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"
					class="invalid-feedback"></div>
			</div>
			
			<div class="mb-3">
				<label for="recebedor" class="form-label">Tipo de
					Recebedor</label> 
					<select 
					class="form-select"
					th:field="*{recebedor}"
					>
					
					<option
						 
						th:each="recebedor : ${recebedores}"
						th:value="${recebedor.id}" 
						th:text="${recebedor.nome}"
						th:selected="${#strings}"
						></option>
				</select>
			</div>
			<button type="submit" th:class="${gasto.id} != null ? 'btn btn-primary' : 'btn btn-success'" th:text="${gasto.id} != null ? 'Alterar Gasto' : 'Adicionar Gasto'">Adicionar
				Gasto</button>

		</form>
	</main>
</body>
</html>